div.list-group-item{
background:#292b2c;
color: white;
border-radius:0px !important;
}

div.list-group-item:hover{
    background:#292b2c;
    color: white;
    border-radius:0px !important;
}

.list-group{
    background:#292b2c;
}

